{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block
content %}

<div container>
  <h3><strong>Overview</strong></h3>
  <p style="font-size: 18px;">
    Upload some similar images and find out which one people like the most based
    on popular posts from reddit. For example, upload some images of the ocean.
    We will then tell you the top three images from your set!
  </p>
  <h3><strong>Instructions</strong></h3>
  <ol style="font-size: 18px;">
    <li>
      Upload a directory of images
      <ul>
        <li>
          <strong>Only include images of type jpg</strong>
        </li>
      </ul>
    </li>
    <li>
      Give the directory a tag name
      <ul>
        <li>
          <strong
            >IMPORTANT: you must type in water, nature, or building</strong
          >
        </li>
      </ul>
    </li>
    <li>
      Hit submit and find out which looks best to post on social media!
    </li>
  </ol>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3><strong>Upload Directory</strong></h3>
      <form method=post enctype=multipart/form-data>
      <input
        type="file"
        name="file"
        multiple
        webkitdirectory
        style="padding-bottom: 5px;"
      />
      <input type="text" name="projectFilepath" placeholder="Enter tag..." />
      <input type="submit" value="submit" />
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
